.profile-page {

    form {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.form-page {
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 80px;
    max-width: 700px;
    width: 100%;

    &__inner {
        padding: 50px 85px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }

    &__title {
        @include font('ms-bold');
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 50px;
    }

    &__item {
        margin-bottom: 25px;
        span {
            display: inline-block;
            @include font('ms-bold');
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 12px;
        }

        input[type=date] {
            appearance: none;
        }

        select {
            color: #D3D3D3;
            appearance: none;
            background: url('../images/select.svg') right 30px center no-repeat;
        }

        select,
        input {
            display: block;
            font-size: 18px;
            line-height: 22px;
            padding: 15px 20px;
            border: none;
            background-color: #ffffff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
            width: 100%;

            &::placeholder {
                color: #D3D3D3;
            }

            &::-webkit-calendar-picker-indicator {
                display: none;
            }
        }

    }

    &__input-block {
        position: relative;

        &.change input {
            padding-right: 90px;
        }
    }

    &__item-btn {
        position: absolute;
        right: 35px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        line-height: 18px;
        color: $grey-dark;
        padding-bottom: 3px;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(73, 88, 77, 0.21);
        }
    }

    &__btn {
        padding: 11px 20px;
    }

    &__subtitle {
        @include font('ms-bold');
        color: $grey;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__checkbox {
        background: center no-repeat;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid $grey;
        background-color: #fff;
        margin-right: 12px;
        margin-top: 8px;
        cursor: pointer;
    }

    .checkbox-block {
        label {
            display: flex;
            align-items: center;
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked ~ .form-page__checkbox {
            background-image: url('../images/check.svg');
            background-color: $grey;
        }
    }

    &__mark {
        font-size: 15px;
        line-height: 18px;
        color: $grey-dark;
    }
        
    &__link {
        position: relative;
        display: inline-block;
        @include font('ms-bold');
        font-size: 13px;
        line-height: 16px;
        color: #346EB8;
        padding-bottom: 2px;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #346eb8;
        }
    }

    &__foot {
        margin-top: 30px;
    }
    
    &__link--big {
        font-size: 15px;
        line-height: 18px;
    }

    &__line {
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .form-page__link {
            margin-bottom: 20px;
        }
    }
}

.register-page {
    &__title {
        text-align: center;
    }

    &__line {
        margin-bottom: 35px;
    }
}
