@media (max-width: 1600px) {
    .tariffs-slider {
        &__nav-prev {
            left: -23px;
        }

        &__nav-next {
            right: -23px;
        }
    }
}

@media (max-width: 1280px) {
    .tariff-page {
        &__content {
            flex-direction: column;
            padding-left: 0;
        }

        &__video {
            flex-basis: 100%;
            width: 100%;
            margin-left: 0;
        }

        &__text {
            flex-basis: 100%;
            margin-bottom: 30px;
        }
    }

    .trains {
        &__list {
            justify-content: center;
        }

        &__item {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    .page-inner {
        .trains__item {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .service-page {
        &__info-wrapper {
            max-width: 50%;
        }
    }

}

@media (max-width: 1024px) {
    .service-page {
        &__inner {
            flex-wrap: wrap;
        }

        &__text {
            max-width: 100%;
            p {
                max-width: 100%;
            }
        }

        &__info {
            margin-top: 53px;
        }

        &__name {
            max-width: 100%;
        }
    }

    .tariffs {
        &__payment {
            padding-left: 0;
        }
    }
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

    .socials {
        &__block {
            width: 100%;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .form-page {
        &__inner {
            padding: 45px 55px;
            padding-top: 17px;
        }
        &__title {
            @include font('ms');
            text-align: center;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
        }

        &__item {
            margin-bottom: 15px;

            span {
                @include font('ms');
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 6px;
            }

            select,
            input {
                padding: 9px 15px;
                font-size: 13px;
                line-height: 16px;
            }
        }

        &__btn {
            margin-top: 25px;
        }

        &__item-btn {
            font-size: 13px;
            line-height: 16px;
        }

        &__subtitle {
            @include font('ms');
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        &__foot {
            text-align: center;
        }

        &__links {
            flex-direction: column;
            align-items: center;
        }

        &__link {
            font-size: 10px;
            line-height: 12px;
        }

        .checkbox-block {
            font-size: 10px;
            line-height: 12px;

            .form-page__checkbox {
                margin-bottom: 8px;
            }
        }

        &__link--big {
            font-size: 15px;
            line-height: 18px;
            &::after {
                content: none;
            }
        }

        &__btn-wrapper {
            text-align: center;

            .form-page__btn {
                margin-top: 10px;
            }
        }
    }

    .register-page {
        &__title {
            text-transform: none;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        
        &__line {
            margin-bottom: 25px;
        }
    }

    .login-page {
        &__title {
            @include font('ms');
            text-transform: none;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        &__btn {
            min-width: 155px;
            margin-top: 5px;
        }
    }

    .tariffs {
        &__title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        &__payment-title {
            display: block;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
            padding: 13px 40px 13px 20px;
        }

        
    }

    .tariffs-slider__wrapper:first-child {
        display: none;
    }

    .tariffs-slider {
        margin-bottom: 40px;
        
        &__banner {
            font-size: 12px;
            line-height: 15px;
        }

        &__name {
            font-size: 15px;
            line-height: 18px;
        }

        &__price {
            font-size: 23px;
            line-height: 28px;
        }

        &__duration {
            font-size: 13px;
            line-height: 16px;
        }

        &__buttons {
            text-align: center;
        }

        &__btn {
            opacity: 1;
            padding: 7px 20px;
            max-width: 160px;
            margin-bottom: 10px;
        }

        &__toggle {
            font-size: 13px;
            line-height: 16px;

            span {
                margin-left: 8px;
            }
        }
    }

    .btn {
        font-size: 15px;
        line-height: 18px;
    }

    .container {
        padding: 0 15px;       
    }

    .page-inner {
        flex-direction: column;
        align-items: center;
    }

    .page-wrapper {
        padding-top: 35px;
    }

    .filter {
        margin-bottom: 50px;
        display: none;

        &__mobile-btn {
            display: flex;
            margin-bottom: 45px;
        }

        &__title {
            display: none;
        }

        &__mobile-title {
            display: inline-block;
        }
    }

    .service-page {
        padding-bottom: 55px;
        padding-top: 0;
        &__time {
            font-size: 15px;
            line-height: 24px;
            padding-left: 35px;
            bottom: 3px;
            top: auto;
        }

        &__video {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 18px;
        }
        
        &__info {
            .trains__info-name {
                @include font('ms-medium');
                font-size: 15px;
                line-height: 24px;
            }

            .trains__info-item {
                margin-bottom: 27px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__name {
            font-size: 25px;
            line-height: 30px;
        }

        &__text {
            text-align: center;
            font-size: 12px;
            line-height: 19px;
        }
    }
    
    .header {
        padding: 20px 0;
        &__logo {
            text-align: center;
            img {
                width: 80px;
            }
        }

        &__links {
            flex-direction: column;
            display: flex;
            flex-basis: auto;
            font-size: 13px;
            line-height: 16px;
            @include font('ms-semibold');
            
            a {
                display: none;

                &::before {
                    content: none;
                }
                padding-left: 0;
                margin-left: 0;
                padding-right: 10px;
                margin-top: 10px;

                &.active {
                    position: relative;
                    display: inline-block;
                    margin-top: 0;
                    
                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        right: 0;
                        left: auto;
                        top: 50%;
                        width: 2px;
                        height: 4px;
                        transform: translateY(-50%) rotate(45deg);
                        background-color: #000000;
                    }

                    &::after {
                        transform: translateY(-50%) rotate(135deg);
                        top: calc(50% + 2px);
                    }
                }
            }
        }
    }

    .profile-menu {
        background-color: #000000;
        color: #ffffff;
        padding: 25px;
        top: 50px;

        &::before {
            display: none;
        }

        &__item {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        &__icon {
            width: 15px;
            margin-right: 10px;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    .first-screen {
        &__bg {
            min-height: 350px;
        }
    }

    .tariff-page {
        padding-top: 24px;
        padding-bottom: 54px;

        &__content {
            align-items: flex-start;
        }

        &__video {
            width: 100vw;
            margin-left: -15px;
            margin-right: -15px;
        }

        &__text {
            position:relative;
            max-height:155px;
            overflow:hidden;

            &:before{
                position: absolute;
                content:"";
                display:block;
                height:50px;
                width: 100%;
                bottom: 0;
                background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff)
            }
        }

        &__title {
            text-align: left;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        &__subtitle {
            display: none;
        }

        &__btn {
            display: block;
            position: relative;
            @include font('ms-bold');
            margin-top: 7px;
            font-size: 13px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.48);
            padding-bottom: 6px;
            margin-bottom: 30px;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                background-color:rgba(0, 0, 0, 0.44);
                height: 1px;
                bottom: 0;
                left: 0;
            }
        }
    }
    
    .trains {
        &__num {
            display: block;
        }

        &__info-item {
            margin-bottom: 5px;
        }

        &__item {
            margin-bottom: 30px;
        }

        &__series {
            left: 14px;
        }

        &__title {
            &::before,
            &::after {
                top: calc(50% - 1px);
                height: 6px;
            }

            &::after {
                top: calc(50% + 2px);
            }
        }
    }

    .footer {
        &__links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-size: 20px;
            line-height: 24px;

            a {
                margin: 0;
            }
        }

        &__copy {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 25px;
        }

        &__policy {
            font-size: 12px;
            line-height: 15px;
        }
    }
    
    .tariffs-slider {
        &__nav-prev,
        &__nav-next {
            display: none;
        }
    }
}

@media (max-width: 480px) {

    .login-page {
        &__title {
            font-size: 15px;
            line-height: 18px;
        }
    }

    .tariffs-slider {

        &__buttons {
            margin-top: 30px;
        }
    }

    .header {
        &__logo {
            text-align: left;
        }
    }

    .first-screen {
        &__bg {
            min-height: 185px;
        }
    }

    .trains {
        &__item {
            margin-left: 0;
            margin-right: 0;
        }

        &__info-item {
            &:nth-child(2) {
                .trains__info-img {
                    margin-left: -40px;
                }
            }
        }

        &__info-name {
            flex-basis: auto;
        }

        &__info-img {
            margin: 0;
            flex-basis: auto;
            margin-right: auto;
        }
    }

    .service-page {
        &__info-wrapper {
            max-width: 57%;
        }

        &__time {
            right: 0;
        }
    }

    .form-page {
        &__inner {
            padding: 25px 35px;
            padding-top: 15px;
        }

        &__item-btn {
            right: 10px;
        }

    }
}

@media (max-width: 400px) {
    .tariffs-slider {
        &__item {
            max-width: 260px;
        }
        
        &__buttons {
            margin-top: 15px;
        }
    }

    .form-page {
        &__inner {
            padding: 15px;
        }
    }
}

